@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 9.0196%;
    --foreground: 210 40% 98.0392%;

    --card: 240 5.8824% 10%;
    --card-foreground: 210 40% 98.0392%;

    --popover: 240 5.8824% 10%;
    --popover-foreground: 210 40% 98.0392%;

    --primary: 347 77.1654% 49.8039%;
    --primary-foreground: 210 40% 98.0392%;

    --secondary: 240 5% 33%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 5.2632% 26.0784%;
    --muted-foreground: 210 40% 98.0392%;

    --accent: 269 100% 98%;
    --accent-foreground: 270 91% 65%;

    --destructive: 0 90.604% 70.7843%;
    --destructive-foreground: 0 85% 97%;

    --border: 30 6.25% 25.098%;
    --input: 25 5.2632% 44.7059%;
    --ring: 0 73.7089% 41.7647%;

    --radius: 1.5rem;

    --search-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.6);
    --search-hover-shadow: 0 2px 8px 0 rgba(255, 0, 0, 0.3);
    --chart-1: 255 91% 76%;
    --chart-2: 270 95% 75%;
    --chart-3: 234 89% 73%;
    --chart-4: 258 89% 66%;
    --chart-5: 240 3% 46%;
    --sidebar: 0 0% 98%;
    --sidebar-foreground: 240 5% 10%;
    --sidebar-primary: 258 89% 66%;
    --sidebar-primary-foreground: 250 100% 97%;
    --sidebar-accent: 240 5% 33%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 4% 83%;
    --sidebar-ring: 258 89% 66%;
    --font-sans: Manrope, ui-sans-serif, system-ui, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    --font-serif: "Source Serif Pro", ui-serif, Georgia, Cambria, Times New Roman, Times, serif;
    --font-mono: Inconsolata, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }
  .dark {
    --background: 240 5% 10%;
    --foreground: 0 0% 98%;
    --card: 240 3% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5% 26%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 73.7089% 41.7647%;
    --primary-foreground: 210 40% 98.0392%;
    --secondary: 240 3% 46%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3% 46%;
    --muted-foreground: 0 0% 98%;
    --accent: 0 73.7089% 41.7647%;
    --accent-foreground: 210 40% 98.0392%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 85% 97%;
    --border: 240 5% 33%;
    --input: 240 5% 33%;
    --ring: 0 72.2222% 50.5882%;
    --chart-1: 0 84.2365% 60.1961%;
    --chart-2: 0 84.2365% 60.1961%;
    --chart-3: 0 90.604% 70.7843%;
    --chart-4: 0 90.604% 70.7843%;
    --chart-5: 240 3% 46%;
    --sidebar: 240 3% 15%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 255 91% 76%;
    --sidebar-primary-foreground: 261 72% 22%;
    --sidebar-accent: 270 95% 75%;
    --sidebar-accent-foreground: 273 86% 20%;
    --sidebar-border: 240 5% 33%;
    --sidebar-ring: 255 91% 76%;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}